<div class="row">    
    <div class="col-sm-8">
        <app-meetings-table-component class="margin"
        [meetings]="meetings"
        (selected)="selected($event)">
    </app-meetings-table-component>
    </div>
    <div class="col-sm-4">
        <div>
            <button class="btn-sm btn-success" style="margin-right: 10px; margin-bottom: 10px;" value="Dodaj spotkanie" (click)="add()">Dodaj spotkanie</button>
            <button class="btn-sm btn-danger" style="margin-right: 10px; margin-bottom: 10px;" value="Usuń spotkanie" (click)="del()">Usuń spotkanie</button>
        </div>
        <app-meetings-details-component
        [meeting]="selectedMeeting"
        (save)="save($event)">
        </app-meetings-details-component>
    </div>
</div>