<table>
    <thead>
        <th>ID Sprintu</th>
        <th>Nazwa spotkania</th>
        <th>Członkowie: </th>
        <th>Rozpoczęcie spotkania: </th>
        <th>Planowany czas spotkania: </th>
    </thead>
    <tbody>
        <tr *ngFor="let m of test">
            <td>{{m.sprintId}}</td>
            <td>{{m.meetingName}}</td>
            <td>{{m.members}}</td>
            <td>{{m.startDateTime}}</td>
            <td>{{m.endDateTime}}</td>
        </tr>
    </tbody>
</table>
<!-- <ejs-grid #grid [dataSource]='Meeting[]' [allowPaging]="true" [allowSorting]="true" (rowSelected)="select()" [selectedRowIndex]='0'>
    <e-columns>
        <e-column field='sprintId' headerText='Id sprintu' width='120'></e-column>
        <e-column field='meetingName' headerText='Nazwa' width='120'></e-column>
        <e-column field='members' headerText='Uczestnicy spotkania' width='120'></e-column>
        <e-column field='startDateTime' headerText='Data rozpoczęcia' width='120'></e-column>
        <e-column field='endDateTime' headerText='Data zakończenia' width='120'></e-column>
    </e-columns>
</ejs-grid> -->