<div class="row align-items-center justify-content-center all-screen">
    <div class="col-lg-2 col-md-4 cos-sm-6 col-10">
        <h5>Edytuj zespół</h5>
        <div class="form-group row">
            <label for="team">Nazwa zespołu:</label>
            <input name="team" type="text" class="form-control form-control-sm" id="team" [(ngModel)]="newTeam.teamName"
                required>

            <label>Członkowie zespołu:</label>
        </div>
        <ul>
            <li *ngFor="let him of alreadyUsed | keyvalue">
                {{him.key}} --> {{him.value}} <button (click)="deleteMe(him.key,him.value)"> X </button>
            </li>
        </ul>

        <input name="member" type="text" id="member" class="form-control form-control-sm" [(ngModel)]="member"
            (click)=changeVisibility() (input)=filter()>
        <div class="state-container-dropdown">
            <div *ngIf='visible'>
                <div class="user" *ngFor='let u of filteredUsers' (click)=fillInput(u) (click)=changeVisibility()>
                    {{u}}
                </div>
            </div>
        </div>
        <select id="role" [(ngModel)]="role">
            <option value="Developer">Developer</option>
            <option value="Product Owner">Product Owner</option>
        </select>

        <div class="form-group row">
            <button class="btn btn-success btn-sm" (click)="addMember()">Dodaj członka zepołu</button>
        </div>
        <div class="form-group row">
            <button class="btn btn-success btn-sm" (click)="onSubmit()">Zapisz zmiany</button>
            <button class="btn btn-success btn-sm" (click)="deleteTeam()">Usuń zespół</button>
        </div>

    </div>
</div>